<% if (url == "index") { %>
<head>
    <%-include('constants')%>
    <% description = "The best and only site for tracking user statistics on loop.lol!" %>
    <% title = "Loop Tracker" %>
    <% link = "https://loop.mgcounts.com" %>
    
    <title><%=title%></title>
    <meta property="og:title" content="<%=title%>">
    <meta property="og:site_name" content="<%=title%>">
    <meta name="twitter:title" content="<%=title%>">

    <meta name="description" content="<%=description%>">
    <meta name="twitter:description" content="<%=description%>">
    <meta property="og:description" content="<%=description%>">

    <meta property="og:url" content="<%=link%>">
    <meta name="twitter:url" content="<%=link%>">

    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<% } else if (url.includes("uploads") || (url.includes("user")) && !url.includes("list")) { %>
    <head>
    <%-include('constants')%>
    <% if (url.includes("uploads")) { %>
        <% description = "Track "+user.username+"'s uploads on loop.lol via Loop Tracker, the best and only site for tracking statistics on loop.lol!" %>
        <% title = "Tracking: "+user.username+"'s Uploads on Loop Tracker" %>
        <% link = "https://loop.mgcounts.com/"+url %>
    <% } else { %>
        <% description = "Track @"+user.username+"'s statistics on loop.lol via Loop Tracker, the best and only site for tracking statistics on loop.lol!" %>
        <% title = "Tracking: @"+user.username+"'s statistics' on Loop Tracker" %>
        <% link = "https://loop.mgcounts.com/"+url %>
    <% } %>
    
    <title><%=title%></title>
    <meta property="og:title" content="<%=title%>">
    <meta property="og:site_name" content="<%=title%>">
    <meta name="twitter:title" content="<%=title%>">

    <meta name="description" content="<%=description%>">
    <meta name="twitter:description" content="<%=description%>">
    <meta property="og:description" content="<%=description%>">

    <meta property="og:url" content="<%=link%>">
    <meta name="twitter:url" content="<%=link%>">

    <link rel="stylesheet" type="text/css" href="/css/<%=url.split('/')[0]%>.css">
</head>
<% } else if (url.includes("list")) { %>
<head>
    <%-include('constants')%>
    <% thing = url.includes("posts") ? "Posts" : "Users" %>
    <% description = "Track the top "+thing.toLowerCase()+" on loop.lol via Loop Tracker, the best and only site for tracking statistics on loop.lol!" %>
    <% title = "Tracking: Top "+thing+" on loop.lol via Loop Tracker" %>
    <% link = "https://loop.mgcounts.com/"+url %>
    
    <title><%=title%></title>
    <meta property="og:title" content="<%=title%>">
    <meta property="og:site_name" content="<%=title%>">
    <meta name="twitter:title" content="<%=title%>">

    <meta name="description" content="<%=description%>">
    <meta name="twitter:description" content="<%=description%>">
    <meta property="og:description" content="<%=description%>">

    <meta property="og:url" content="<%=link%>">
    <meta name="twitter:url" content="<%=link%>">

    <link rel="stylesheet" type="text/css" href="/css/list.css">
</head>
<% } else if (url.includes("search") && url.includes("compare")) { %>
<head>
    <%-include('constants')%>
    <% description = "Compare two users on loop.lol via Loop Tracker, the best and only site for tracking statistics on loop.lol!" %>
    <% title = "Searching For Two Users To Compare On loop.lol via Loop Tracker" %>
    <% link = "https://loop.mgcounts.com/"+url %>
    
    <title><%=title%></title>
    <meta property="og:title" content="<%=title%>">
    <meta property="og:site_name" content="<%=title%>">
    <meta name="twitter:title" content="<%=title%>">

    <meta name="description" content="<%=description%>">
    <meta name="twitter:description" content="<%=description%>">
    <meta property="og:description" content="<%=description%>">

    <meta property="og:url" content="<%=link%>">
    <meta name="twitter:url" content="<%=link%>">

    <link rel="stylesheet" type="text/css" href="/css/compare_search.css">
</head>
<% } else if (url.includes("compare")) { %>
<head>
    <%-include('constants')%>
    <% description = "Comparing @"+user1.username+" and @"+user2.username+"'s statistics on loop.lol via Loop Tracker, the best and only site for tracking statistics on loop.lol!" %>
    <% title = "Comparing: @"+user1.username+" and @"+user2.username+"'s statistics on Loop Tracker" %>
    <% link = "https://loop.mgcounts.com/"+url %>

    <title><%=title%></title>
    <meta property="og:title" content="<%=title%>">
    <meta property="og:site_name" content="<%=title%>">
    <meta name="twitter:title" content="<%=title%>">

    <meta name="description" content="<%=description%>">
    <meta name="twitter:description" content="<%=description%>">
    <meta property="og:description" content="<%=description%>">

    <meta property="og:url" content="<%=link%>">
    <meta name="twitter:url" content="<%=link%>">

    <link rel="stylesheet" type="text/css" href="/css/compare.css">
</head>
<%} else {%>
<head>
    <%-include('constants')%>
    <% title = "Error: Page Not Found" %>
    <% description = "The page you are looking for does not exist on loop.lol via Loop Tracker, the best and only site for tracking statistics on loop.lol!" %>
    <% link = "https://loop.mgcounts.com/"+url %>

    <title><%=title%></title>
    <meta property="og:title" content="<%=title%>">
    <meta property="og:site_name" content="<%=title%>">
    <meta name="twitter:title" content="<%=title%>">

    <meta name="description" content="<%=description%>">
    <meta name="twitter:description" content="<%=description%>">
    <meta property="og:description" content="<%=description%>">

    <meta property="og:url" content="<%=link%>">
    <meta name="twitter:url" content="<%=link%>">

    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <style>
        #title {
            margin: 0;
        }
    </style>
<% } %>