<!DOCTYPE html>
<html>

<%- include('partials/meta', {url: url}) %>

<body>
  <%- include('partials/navbar') %>
    <center>
      <h1 id="title">Loop Tracker</h1>
      <h2>The best and only site for tracking user statistics on loop.lol!</h2>
      <hr>
      <h3>View The Top <%=type%> On Loop!</h3>
      <h1>Current Tracking <%=total.toLocaleString()%> <%=type%>!</h1>
      <div class="type">
        <p>Sort By:</p>
        <select id="sort">
          <% for (let i = 0; i < options.length; i++) { %>
            <option value="<%=options[i].value%>"><%=options[i].name%></option>
            <% } %>
        </select>
        <select id="order">
          <option value="desc">Descending</option>
          <option value="asc">Ascending</option>
        </select>
        <button onclick="getUsers()">Sort!</button>
      </div>
      <div id="results"></div>
    </center>
    <script>const type = "<%=type.toLowerCase()%>"</script>
    <script src="/js/moment.js"></script>
    <script src="/js/list.js"></script>
</body>

</html>