<!DOCTYPE html>
<html>

<head>
  <title>Loop Tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The best and only site for tracking user statistics on loop.lol!">
  <meta name="keywords" content="Loop, Followers, Vine, Statistics track, Statistics, Track, loop.lol!">
  <meta name="author" content="@ok_aj">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="theme-color" content="#141414">
  <link rel="icon" type="image/png" href="/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/list.css?new=true">
  <meta property="og:title" content="Loop Tracker">
  <meta property="og:description" content="The best and only site for tracking user statistics on loop.lol!">
  <meta property="og:image" content="/images/favicon.ico">
  <meta property="og:url" content="https://loop.mgcounts.com">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Loop Tracker">
</head>

<body>
  <%- include('partials/navbar') %>
    <center>
      <h1 id="title">Loop Tracker</h1>
      <h2>The best and only site for tracking user statistics on loop.lol!</h2>
      <hr>
      <h3>View The Top <%=type%> On Loop!</h3>
      <h1>Current Tracking <%=total.toLocaleString()%> <%=type%>!</h1>
      <div class="type">
        <p>Sort By:</p>
        <select id="sort">
          <% for (let i = 0; i < options.length; i++) { %>
            <option value="<%=options[i].value%>"><%=options[i].name%></option>
            <% } %>
        </select>
        <select id="order">
          <option value="desc">Descending</option>
          <option value="asc">Ascending</option>
        </select>
        <button onclick="getUsers()">Sort!</button>
      </div>
      <div id="results"></div>
    </center>
    <script>const type = "<%=type.toLowerCase()%>"</script>
    <script src="/js/moment.js"></script>
    <script src="/js/list.js"></script>
</body>

</html>