<!DOCTYPE html>
<html>

<%- include('partials/meta', {url: url}) %>

<body>
  <%- include('partials/navbar') %>
    <center><br>
      <div class="topRow">
        <div class="topRowContainer">
          <div class="leftTopRow">
            <img src="<%= user.profile_picture_url %>" id="avatar">
            <div>
              <h1 id="title">
                <%= user.display_name %>
              </h1>
              <h3>@<%= user.username %>
              </h3>
              <div class="bio">
                <%=user.bio%>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <button id="viewProfile" onclick="window.location.href='/user/<%= user.id %>'">View Profile</button>
        <hr>
        <div id="liveCounter">
          <h1 id="live_name">{name}</h1>
          <h2 class="odometer" id="live_count">{count}</h2>
          <h3 id="live_label">{label}</h3>
          <div id="chart"></div>
          <hr><button id="liveButton" onclick="toggleLive()">Disable Live Updates</button>
        </div>
        <hr>
        <div class="sortBy">
          <button onclick="resort('uploaded')">Sort By Uploaded</button>
          <button onclick="resort('loops')">Sort By Loops</button>
          <button onclick="resort('likes')">Sort By Likes</button>
          <button onclick="resort('comments')">Sort By Comments</button>
        </div>
        <div id="uploads">
          <% uploads = uploads.sort((a, b) => new Date(b.created_at) - new Date(a.created_at)); %>
          <% for (let q=0; q < uploads.length; q++) { %>
            <div class="upload">
              <div class="background-image"
                style="background: url('<%=uploads[q].thumbnail_url%>') no-repeat center center; background-size: cover;">
              </div>
              <div class="overlay">
                <img src="<%=uploads[q].thumbnail_url%>" alt="Thumbnail" class="thumbnail">
                <h3 class="overlay-label">
                  <%=uploads[q].caption%>
                </h3>
                <h4 class="overlay-label">@<%=uploads[q].username%>
                </h4>
                <hr>
                <div class="overlay-label flex">
                  <p onclick="window.location.href = '?live=loops&id=<%=uploads[q].post_id%>'">Loops: <%=uploads[q].loop_count.toLocaleString('en-us')%></p>
                  <p onclick="window.location.href = '?live=likes&id=<%=uploads[q].post_id%>'">Likes: <%=uploads[q].like_count.toLocaleString('en-us')%></p>
                  <p onclick="window.location.href = '?live=comments&id=<%=uploads[q].post_id%>'">Comments: <%=uploads[q].comment_count.toLocaleString('en-us')%></p>
                  <p>Upload Rank: <%=uploads[q].sequence_id.toLocaleString('en-us')%></p>
                </div>
                <h6 class="overlay-label">
                  <%=moment(uploads[q].created_at).format('MMMM Do, YYYY [at] h:mm:ss a')%>
                </h6>
              </div>
            </div>
            <%}%>
        </div>
      </div>
    </center>
    <h1 id="total">
      <%=user.post_count%>
    </h1>
    <script src="/js/moment.js"></script>
    <script src="/js/highstock.js"></script>
    <script src="/js/uploads.js"></script>
    <script src="/js/odometer.js"></script>
</body>

</html>